body {
    background-color: #314455;
}

.main-page-books {
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    background-color: #abbed1;
    margin-bottom: auto;
    margin-bottom: 2em;

    /* background-color: #C96567; */
}


.test-colours {
    background-color: #5d5c61;
    background-color: #314455;
    background-color: #644E5B;
    background-color: #9E5A63;
    background-color: #C96567;
    background-color: #97AABD;
}


.book {
    display: flex;
}

.book > div {
    flex-grow: 1;
}

.book-img {
    margin-left: auto;
    margin-right: 1em;
    max-width: 10em;
    max-height: 13em;
}

/* .reserve-btn {
    margin: 0 auto 0 auto;
    background-color: #C96567;
} */

.reserve-btn{
    display:block;
    width: calc(10% + 5em);
    height: 2em;
    font-size: 25px;
    text-align: center;
    background-color: white;
    color: #C96567;
    border-radius: 8px;
    margin: 0 auto 0.5em auto;
    cursor: pointer;
    border: 3px solid #C96567;
    transition: all 0.1s ease;
    padding: 3px;
    outline-color: #9E5A63;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: tahoma;
}


.reserve-btn:hover{
    background-color: #C96567;
    color: white;
    border: 3px solid #C96567;
    box-shadow: 0px 7px 15px #9E5A63;
    transform: translateY(-4px);
    outline: none;
}

.reserve-btn:active {
    background-color: #9E5A63;
    border-color: #9E5A63;
    transform: scale(0.99);
    outline: none;
}

.test-colours {
    background-color: #5d5c61;
    background-color: #314455;
    background-color: #644E5B;
    background-color: #9E5A63;
    background-color: #C96567;
    background-color: #97AABD;
}


.new-library * {
    color: #C96567;
}
.new-library>fieldset {
    border: 0;
    /* margin: 1em auto;
    background-color: white;
    border-radius: 14px;
    width: 60%;
    text-align: center;
    box-shadow: 20px 20px rgb(150, 66, 27); */
}

.new-library>fieldset>h1 {
    /* margin-top: 0; */
    margin-top: 0.2em;
    padding-bottom: 0.2em;
}

.new-library input{
    width: 80%;
    padding: 0.5em;
    margin: 0.6em 0 0.6em 0;
    border: 2px solid #eb6e347a;
    border-radius: 8px;
    transition: all 0.1s ease;
    background-color: white;
}

.new-library input:hover {
    border: 2px solid #C96567;
    /* box-shadow: 1px 1px #EB6E34; */
}

.new-library input::placeholder {
    color: #31170bd2;
    transition: none;
}

.new-library input:focus {
    border: 2px solid #C96567;
    outline: none; 
    box-shadow: 0 0 0 2px #C96567;
    border-radius: 8px;
}
    
.new-library input:focus::placeholder {
    color: rgba(0, 0, 0, 0.486);
}




.new-library hr {
    border: 1px solid #C96567;
    margin-bottom: 1.5em;
}

.fa-times {
    color: red;
}

.fa-times:hover {
    cursor: pointer;
    color: rgb(158, 0, 0);
}

.fa-times:active {
    color: rgb(88, 0, 0);
}


form , fieldset {
    background-color: whitesmoke;
}

.modal-lib {
    display: none;
    position: fixed;
    padding-top: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    z-index: 200005;
}


.modal-lib-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 0;
    width: 80%;
    
    border: 0;
    margin: 1em auto;
    background-color: white;
    border-radius: 14px;
    width: 60%;
    text-align: center;
    box-shadow: 10px 10px #9E5A63;
}

.modal-lib-content-up {

    margin: auto;

}

.close-lib {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-sign {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-sign:hover,
.close-sign:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

select * {
    color: black !important;
}
select {
    color: black !important;
}