
    <div class="main-page-staff">
        <div style="display: flex;">
            <button class="reserve-btn" onclick=" location.href='./users-admin' ">Διαχείριση μελών/συνδρομών</button>
        </div>
        
        <button class="reserve-btn" onclick=" location.href='/libraries-admin' ">Διαχείριση βιβλιοθηκών</button>
        <button class="reserve-btn" onclick=" location.href='/categories-admin' ">Διαχείριση κατηγοριών</button>
        <button class="reserve-btn" onclick=" location.href='/add-book-staff' ">Προσθήκη βιβλίου</button>
        <button class="reserve-btn" onclick=" location.href='/subscriptions' ">Διαχείριση συνδρομών</button>
        {{!-- <button class="reserve-btn" onclick=" location.href='./subscriptions-admin.html' ">Προσθήκη φωτογραφιών</button> --}}
        
    </div>

    
    <!-- <script>
        document.querySelector('#reset-library').addEventListener("click", function() {
            document.querySelector('#library').value = ""
        })

    </script> -->
