
    <div class="main-page-staff">
        <div style="display: flex;">
            <button class="reserve-btn" disabled>Προβολή χρηστών</button>
        </div>
        
        <button class="reserve-btn" onclick=" location.href='./libraries-admin' ">Διαχείριση βιβλιοθηκών</button>
        <button class="reserve-btn" onclick=" location.href='./categories-admin' ">Διαχείριση κατηγοριών</button>
        <button class="reserve-btn" onclick=" location.href='./add-book-staff.html' ">Προσθήκη βιβλίου</button>
        <button class="reserve-btn" onclick=" location.href='./subscriptions-admin.html' ">Διαχείριση συνδρομών</button>
        {{!-- <button class="reserve-btn" onclick=" location.href='./subscriptions-admin.html' ">Προσθήκη φωτογραφιών</button> --}}
        
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/285af68c5a.js" crossorigin="anonymous"></script>
    <!-- <script>
        document.querySelector('#reset-library').addEventListener("click", function() {
            document.querySelector('#library').value = ""
        })

    </script> -->
