
    <div class="main-page-staff">
        <!-- <button class="reserve-btn">Προβολή εργαζομένων</button> -->
        <button class="reserve-btn" onclick=" location.href='/books' ">Προβολή βιβλίων</button>
        <button class="reserve-btn" onclick=" location.href='/add-book-staff' ">Προσθήκη βιβλίου</button>
        <!-- <button class="reserve-btn">Προβολή δανεισμών</button> -->
        <!-- <button class="reserve-btn">Νέος δανεισμός</button> -->
        <!-- <button class="reserve-btn">Διαχείριση αντιτυπων</button> -->
        <button class="reserve-btn" onclick=" location.href='./users-staff.html' ">Διαχείριση μελών/συνδρομών</button>

        <button class="reserve-btn" onclick=" location.href='./books-foreign-staff.html' ">Προβολή ξένων βιβλίων στη βιβλιοθήκη</button>
        <button class="reserve-btn" onclick=" location.href='./transfer-staff.html' ">Μεταφορές</button>
        
        <!-- <div>
            <u>Στατιστικά</u> 
            <span>Στην κατοχή της η βιβλιοθήκη έχει <span>56</span> βιβλία</span>
            <span>Από αυτά <span>10</span> είναι δανεισμένα <span>10</span> βρίσκονται σε άλλη βιβλιοθήκη</span>
            <span> και 36 βρίσκονται εδώ.
                Επιπλέον έχουμε 5 απο άλλη βιβλιοθήκη
            </span>
            <span>Στην βιβλιοθήκη βρίσκονται <span>20</span> βιβλία</span>
            <span>Στην κατοχή της η βιβλιοθήκη έχει <span>56</span> βιβλία</span>
        </div> -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/285af68c5a.js" crossorigin="anonymous"></script>
