<div class="main-page">
        <h2>ΔΙΚΤΥΟ ΔΑΝΕΙΣΤΙΚΩΝ ΒΙΒΛΙΟΘΗΚΩΝ</h2>
        <h1>Δανείσου βιβλία</h1>
        <div>
            Οι βιβλιοθήκες μας παρέχουν μία πλούσια συλλογή βιβλίων ποικίλων θεματικών κατηγοριών που απευθύνοονται σε παιδιά εφήβους και ενήλικες.<div class=""></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
