<div class="main-page-staff">
    <button class="reserve-btn" id="books">Προβολή βιβλίων</button>
    <button class="reserve-btn" id="add-book-staff">Προσθήκη βιβλίου</button>
    <button class="reserve-btn" id="users-staff">Διαχείριση μελών/συνδρομών</button>
    <button class="reserve-btn" id="transfer-staff">Μεταφορές</button>

    {{! <button class="reserve-btn" onclick=" location.href='/books-foreign-staff.html' ">Προβολή ξένων βιβλίων
        εδώ</button> }}
    <!-- <button class="reserve-btn">Προβολή εργαζομένων</button> -->
    <!-- <button class="reserve-btn">Προβολή δανεισμών</button> -->
    <!-- <button class="reserve-btn">Νέος δανεισμός</button> -->
    <!-- <button class="reserve-btn">Διαχείριση αντιτυπων</button> -->

    <!-- <div>
            <u>Στατιστικά</u> 
            <span>Στην κατοχή της η βιβλιοθήκη έχει <span>56</span> βιβλία</span>
            <span>Από αυτά <span>10</span> είναι δανεισμένα <span>10</span> βρίσκονται σε άλλη βιβλιοθήκη</span>
            {{!-- <span> και 36 βρίσκονται εδώ. --}}
                Επιπλέον έχουμε 5 απο άλλη βιβλιοθήκη
            </span>
            <span>Στην βιβλιοθήκη βρίσκονται <span>20</span> βιβλία</span>
            <span>Στην κατοχή της η βιβλιοθήκη έχει <span>56</span> βιβλία</span>
        </div> -->
</div>

<script src="/js/staff.js"></script>