    <div class="transfer-staff">
        <button class="reserve-btn" onclick=" location.href='./transfer-send-staff.html' ">Αποστολή</button>
        <button class="reserve-btn" onclick=" location.href='./transfer-get-staff.html' ">Παραλαβή</button>
    </div>
