body {
    background-color: #314455;
    color: black ;
}

.main-page-books {
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    background-color: #abbed1;
    margin-bottom: auto;
    margin-bottom: 2em;

    /* background-color: #C96567; */
}

* {
    box-sizing: border-box;
  }
  
  form {
      max-width: 70%;
  }

  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    /* background: #f1f1f1; */
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #C96567;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #9E5A63;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .test-colours {
    background-color: #5d5c61;
    background-color: #314455;
    background-color: #644E5B;
    background-color: #9E5A63;
    background-color: #C96567;
    background-color: #97AABD;
}

.filter {
    margin-top: 0.5em;
    display: flex;
    /* grid-template-columns: 1fr 100%; */
}

.filter h6 {
    margin-right: 1em;
    margin-top: 0.3em;
}

input[type="number"] {
    width: 4em;
}

.book-ref {
    color: #C96567;
}

.book-ref:link {
    text-decoration: none;
}

.book-ref:visited {
    text-decoration: none;
}

.book-ref:hover {
    text-decoration: underline;
}

.book-ref:active {
    text-decoration: underline;
}

a:link {
    color: #744147;
}

a:visited {
    color: #4e2c30;
}

a:hover {
    color: #5e353a;
}

a:active {
    color: #5e353a;
} 

.book {
    display: flex;
}

.book:first-child {
    flex-grow: 1;
}

.book-img {
    margin-left: auto;
    margin-right: 1em;
    width: 8.5em;
}







.reserve-btn{
    display:block;
    width: calc(10% + 5em);
    height: 2em;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: #C96567;
    border-radius: 8px;
    margin: 0.5em auto 0 auto;
    cursor: pointer;
    border: 3px solid #C96567;
    transition: all 0.1s ease;
    padding: 3px;
    outline-color: #9E5A63;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: tahoma;
}


.reserve-btn:hover{
    background-color: #C96567;
    color: #e7f3ff;
    border: 3px solid #C96567;
    box-shadow: 0px 7px 15px #9E5A63;
    transform: translateY(-2px);
    outline: none;
}

.reserve-btn:active {
    background-color: #9E5A63;
    border-color: #9E5A63;
    transform: scale(0.99);
    outline: none;
}